{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'modify' pk=user.pk %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">{{ member.name }}</label>
    <!-- <input type="text" placeholder="이름" name="name"> -->
  </div>
  <div class="form-group">
    <label for="email">이메일</label>
    <input type="text" placeholder="이메일" name="email">
  </div>
  <div class="form-group">
    <label for="password">비밀번호</label>
    <input type="password" placeholder="비밀번호" name="password">
  </div>
  <div class="form-group">
    <label for="birth">생년월일</label>
    <input type="date" name="birth">
  </div>
  <div class="form-group">
    <label for="sex">성별</label>
    <input type="radio" name="sex" value="F">여성
    <input type="radio" name="sex" value="M">남성
    <!-- 제3의 성에 대한 선택지? -->
  </div>
  <div class="form-group">
    <label for="phone">전화번호</label>
    <input type="text" placeholder="010-1234-5678" name="phone">
  </div>
  <input type="submit" class="btn btn-default" value="등록">
</form>
{% endblock %}